.inline-block {
  display: flex;
  vertical-align: top;
  width: 100%;
  height: 260px;
}

.logo {
  width: 180%;
  height: 10%;
  border-radius: 30%;
  background-size: cover;
  text-align: right;
  float: left;
  margin-top: 2.8em;
  float: right;
  margin-right: -3.3em;
}

.text-frame {
  margin-top: 1.3em;
  font-size: 130%;
  /* text-align: center;*/
  color: rgb(151, 33, 112);
  float: left;
  margin-right: 13em;
}

.myImage {
  vertical-align: center;
  width: 40%;
  margin-left: 28em;
}
.heroImg {
  text-align: left;
  margin-left: 2em;
}

.heaDer {
  padding: center;
  font-weight: bolder;
  margin-top: 1%;
}

.boTTonHome {
  background-color: rgb(151, 33, 112);
  border-color: rgb(151, 33, 112);
  margin-left: 2em;
  margin-bottom: 5em;
}
.bottonHome {
  /* text-align: center; */
  color: rgb(95, 26, 72);
  font-size: 70%;
}

.inCenter {
  text-align: center;
}
.left {
  text-align: right;
  padding: right;
  width: 100%;
}
.heroP {
  margin-left: auto;
}
.content {
  /* vertical-align: right;
  padding: 20px;
  height: 25px;
  color: white;
  font-size: 18px;
  margin: 0px 3%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr; */
  float: right;
  padding-left: 14em;
}

.about-me {
  margin-top: 7.5em;
  /* float: center; */
  text-align: center;

  color: rgb(95, 26, 72);
}

/* .detail {
  display: flex;
} */
/*.category {
  margin: 0px 3%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
}*/

.email {
  color: rgb(95, 26, 72);
  font-size: 70%;
}

/*HOME PAGE*/
body {
  background-color: rgb(253, 241, 242);
}
.main {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: fixed;
  top: 15%;
  width: 100%;
}
.main-container {
  /* height: 200px;
  width: 95%; */
  float: left;
  color: rgb(204, 63, 204);
}
.main-laptop {
  float: left;
}
.homePage {
  width: 22%;
  height: 7%;
  border: rgb(253, 241, 242);
  background-color: rgb(255, 234, 236);
  border-radius: 10%;
  float: right;
  margin-top: 8.5em;
  margin-right: -4em;
}
.myjob {
  float: right;
  margin-top: 12em;
  color: rgb(204, 63, 204);
  margin-right: -5em;
}
.main-h1 {
  float: laft;
  margin-left: -5em;
}
.main-h2 {
  float: right;
  margin-right: -10em;
  color: rgb(231, 64, 162);
}

.boTTon {
  text-align: center;
  color: aliceblue;
}

.bottOn {
  background-color: rgb(204, 63, 204);
  border-color: rgb(204, 63, 204);
  margin-top: 2em;
  margin-right: -1em;
}

.lapTop {
  margin-top: 10em;
  float: left;
  margin-left: -4em;
  display: flex;
  align-content: center;
  width: 60%;
  height: 60%;
  border-radius: 10%;
  border-style: hidden;
}

/* TABLE */

.newTable {
  display: flex;
  align-items: center;
}

.newTable > div {
  flex: 1;
}
.right1 {
  margin-left: 5em;
  color: rgb(95, 26, 72);
}
.left1 {
  flex-grow: 1;
}
/* .table1 {
  border-color: black;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: row; */
/* /* border: 1px solid #ffeadc; */
/* background-color: #ffeadc; */
/* border-spacing: 80px; */
/* padding: 5px; */

.img1 {
  text-align: left;
  margin-left: 15em;
}
/* .explain1 {
  margin-right: 16em;
  text-align: right;
}  */
/* .table2 {
  margin-right: 15em;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid #cad6f8;
  background-color: #cad6f8;
  border-spacing: 80px; */
/* border-collapse: separate;*/

.newTable2 {
  display: flex;
  align-items: center;
}

.newTable2 > div {
  flex: 1;
}
.right2 {
  margin-right: 30em;
  color: rgb(95, 26, 72);
}
.left2 {
  flex-grow: 1;
}
.img2 {
  text-align: right;
  margin-left: 50em;
}
.table3 {
  margin-left: 15em;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid #d9ce9a;
  background-color: #d9ce9a;
  border-spacing: 80px; */
  border-collapse: separate;
}

td {
  padding-bottom: 50px;
}
